{{page-title "Add"}}
<div class="row">

  <div class="col">
    <Input @value={{ @model.nom }} placeholder="Entrez le nom de la categorie" class="form-control"/>
  </div>

  <div class="col">
    <button {{ action "save" @model }} class="btn btn-primary">Enregistrez</button>
    <LinkTo @route="categories" class="btn btn-secondary">Annuler</LinkTo>
  </div>
</div>
{{outlet}}