<div class="container-md">
  <br>
  <h2>Connection</h2>
  <form class="ui form" {{ action "login" @model on="submit" }}>
    <div class="form-group">
      <label>Email</label>
      <Input type="email" class="form-control" @value={{@model.email}} placeholder="Votre email"/>
    </div>
    <div class="form-group">
      <label>Password</label>
      <Input type="password" class="form-control" @value={{@model.password}} placeholder="Votre mot de passe"/>
    </div>
    <br><br>
    <button class="btn btn-primary" type="submit">Se connecter</button>
  </form>
</div>