{{page-title "Sections"}}
<div class="container">
  <h2>Gestion des sections</h2>
  <LinkTo class="ui right floated gray button" @route="board">Board</LinkTo>
  <div class="form-group">
    <p>
      <LinkTo class="ui floated green button" @route="sections.add" >Nouvelle section...</LinkTo>
      <LinkTo class="ui floated green button" @route="sections.addProduct" >Nouveau Produit...</LinkTo>
    </p>
  </div>
  <h3>Sections</h3>
  <table class="table table-striped"><br>
    <tbody>
    {{#each @model as |section|}}
      <tr>
        <td>{{ section.name}}</td>
        <td> ................... </td>
        <td>{{ section.products.length }}</td>
        <td><button class="ui black button">Editer...</button></td>
        <td><button class="ui red button">Supprimer</button></td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>
{{outlet}}