{{page-title "Sections"}}
<div class="container">
  <h2>Gestion des sections</h2>
  <div class="form-group">
    <p>
      <button class="btn btn-primary">Nouvelle section...</button>
      <button  class="btn btn-primary">Nouveau Produit...</button>
    </p>
    <label>Sections</label>
  </div>
  <table class="table table-striped"><br>
    <tbody>
    {{#each @model as |section|}}
      <tr>
        <td>{{ section.name}} ................... </td>
        <td>{{ section.products.length }}</td>
        <td><button class="ui black button">Editer...</button></td>
        <td><button class="ui red button">Supprimer</button></td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>
{{outlet}}